/* CSS для модальных окон: */

.modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #25297ad6;
    opacity: 100%;
    top: 0;
    left: 0;
    padding-top: 2%;
}

.modal-content {
    padding: 50px 15px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    background-color: #3764c8;
    width: 400px;
    margin: 0 auto;
}

input {
	width: 85%;
	border-radius: 5px;
	padding: 5px
}

button {
	padding: 10px 20px;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
    margin: 20px 50px;
}

.cancel,.ok{
	background: #3c5de0;
    border: 2px solid #fff;
}
#go{background-color: #5055a3d6;transition: all 0.35s;}
#go:hover{background-color: #6970ced6;}

/* Конец */


/* CSS для класса автобуса: */

.road {
    background-image: url("resources/road.png");
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 250px;
    margin-top: 100px;
    position: relative;
}

.first{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 4.5%;
}

.bus {
    transition: all 3s;
    position: absolute;
    left: 98%;
    top: 60px;
    width: 120px;
    z-index: 4;
}
/* css для кнопки */

#new-road{
    background-color: rgb(79, 170, 79);
}
#go.unactive{
    background-color: #4d518a38;
}




/* CSS для класса Остановок: */

.stop {
    /* position: absolute;
    top: -16px;
    left: 92%; */
    width: 80px;
}

.stop img {
    width:100% ;
}

/* Конец */



  
  
  
